    @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #cecece;
}
/* *********** */
/* ENCABEZADO - MENU */
/* *********** */
.contenedor-header{
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #1f283e;
    background-color: rgba(0,0,0,.7);
    z-index: 99;
    padding: 0 20px;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #fff;
}
.txtAmarillo{
    color:#f9e401;
}
.contenedor-header header nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
}
.contenedor-header header nav a:hover{
    color: #f9e401;
}
.contenedor-header header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
}
.contenedor-header header .redes a:hover{
    color: #f9e401;
}
.nav-responsive{
    display: none;
    font-size: 25px;
 }
 /* *********** */
/* SECCIÓN INICIO */
/* *********** */
.inicio{
    height: 100vh;
    background:linear-gradient(rgba(0, 1, 3, 0.5), rgba(0,0,0,.7)),url(img/fondo.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
}
.inicio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.inicio .info{
    width:fit-content;
    margin: auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.inicio .info h2{
    font-size: 4rem;
    letter-spacing: 3px;
}
.inicio .info p{
    margin: 20px;
    color: #797e8e;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.inicio .info .btn-mas{
    width: 50px;
    margin: auto;
    height: 50px;
    border: 2px solid #f9e401;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #f9e401;
    margin-top: 50px;
    text-decoration: none;
}
.opciones{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.inicio .opciones .opcion{
    border-top: 2px solid #797e8e;
    padding: 7px;
    color: #797e8e;
    margin: 0 20px;
}
/* *********** */
/* SECCION NOSOTROS */
/* *********** */
.nosotros{
    max-width: 1100px;
    margin: auto;
    height: 100vh;
    background-color: #cecece;
    padding: 100px 20px;
}
.nosotros .fila{
    display: flex;
    align-items: center;
}
.nosotros .fila .col{
    width: 50%;
}
.nosotros .fila .col img{
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}
.nosotros .fila .col .contenedor-titulo{
    display: flex;
    align-items:center
}
.nosotros .fila .col .contenedor-titulo .numero{
    color: #f9e401;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.nosotros .fila .col .contenedor-titulo .info{
    margin-left: 30px;
}
.nosotros .fila .col .contenedor-titulo .info .frase{
    color: #f9e401;
}
.nosotros .fila .col .contenedor-titulo .info h2{
    font-size: 3rem;
}
.nosotros .fila .col p{
   margin-bottom: 10px;
   line-height: 28px;
}
.nosotros .fila .col .p-especial{
    font-weight: bold;
}
.nosotros hr{
    margin-bottom: 30px;
}
.nosotros .fila-nosotros{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nosotros .fila-nosotros .frase{
    font-size: 18px;
    font-weight: 600;
}
.nosotros .fila-nosotros h2{
    font-size: 2.5rem;
}
.nosotros .fila-nosotros button{
    background-color: #f9e401;
    border: none;
    color: #fff;
    padding: 15px 35px;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
/* ********** */
/* SERVICIOS */
/* ********** */

.servicios{
    color: #fff;
    position: relative;
}
.servicios .contenido-seccion{
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(img/fondo-servicios.jpg);
    background-size: cover;
    background-position: center center;
    margin: auto;
    padding: 0 20px;
}
.servicios .contenido-seccion .fila{
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 100px 0;
}
.servicios .contenido-seccion .fila .col{
    width: 50%;
}
.servicios .contenido-seccion .fila .col img{
    display: block;
    width: 50%;
    margin: auto;
}
.servicios .fila .col .contenedor-titulo{
    display: flex;
    align-items: center;
}
.servicios .fila .col .contenedor-titulo .numero{
    color: #f9e401;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.servicios .fila .col .contenedor-titulo .info{
    margin-left: 30px;
}
.servicios .fila .col .contenedor-titulo .info .frase{
    color: #f9e401;
}
.servicios .fila .col .contenedor-titulo .info h2{
    font-size: 3rem;
}
.servicios .fila .col p{
   margin-bottom: 10px;
   line-height: 28px;
}
.servicios .fila .col .p-especial{
    font-weight: bold;
}
.servicios .info-servicios{
    max-width: 800px;
    margin: auto;
}
.servicios .info-servicios table{
    text-align: center;
    background-color: #c0c0c0;
    color: #1f283e;
    border-collapse: collapse;
    position: relative;
    bottom: 100px;
}
.servicios .info-servicios table td{
    padding: 30px;
    border: 1px solid #9b9b9b
}
.servicios .info-servicios table td i{
    color: #f9e401;
    font-size: 2.5rem;
    margin-bottom: 20px;

}
.servicios .info-servicios h3{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.servicios .info-servicios p{
    line-height: 30px;
}

/* ********** */
/* GALERIA */
/* ********** */
.galeria{
    color: #fff;
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(img/fondo-galeria.jpg);
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
}
.galeria .contenido-seccion{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}
.galeria .contenedor-titulo{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.galeria  .contenedor-titulo .numero{
    color: #f9e401;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.galeria .contenedor-titulo .info{
    margin-left: 30px;
}
.galeria .contenedor-titulo .info .frase{
    color: #f9e401;
}
.galeria .contenedor-titulo .info h2{
    font-size: 3rem;
}
.galeria .fila{
    display: flex;
}
.galeria .fila .col img{
    width: 100%;
    display: block;
}

/* *********** */
/* CONTACTO */
/* *********** */
.contacto{
    color: #fff;
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(img/fondo.jpg);
    background-size: cover;
    background-position: center center;
    padding: 100px 20px;

}
.contacto .contenido-seccion{
    max-width: 800px;
    margin: auto;
}

.contacto .contenedor-titulo{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}
.contacto  .contenedor-titulo .numero{
    color: #f9e401;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.contacto .contenedor-titulo .info{
    margin-left: 30px;
}
.contacto .contenedor-titulo .info .frase{
    color: #f9e401;
}
.contacto .contenedor-titulo .info h2{
    font-size: 3rem;
}
.contacto .fila{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.contacto .fila .col{
    width: 48%;
}
.contacto .fila input{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
}
.contacto textarea{
    display: block;
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    outline: none;
    width: 100%;
    height: 200px;
}

.contacto button{
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    border: none;
    background-color: #f9e401;
    color: #fff;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}
.contacto .fila-datos{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    font-size: 18px;
    text-align: center;
}
.contacto i{
    color: #f9e401;
    display: inline-block;
    margin-right: 10px;
}
/* *********** */
/* FOOTER */
/* *********** */
footer{
    background-color: #000000;
    padding: 30px 0;
}
footer .info{
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
    padding: 0 20px;
}
footer .info p{
    color: #797e8e;
}
footer .info a{
    text-decoration: none;
    color: #797e8e;
    display: inline-block;
    margin: 0 15px;
}
/* *********** */
/* RESPONSIVE */
/* *********** */
@media only screen and (max-width: 900px) {
    header nav{
        position: initial;
        display: none;
        transform: translate(0);
    }
    header .redes{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position:absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color:#151623;
        z-index: 99;
    }
    nav.responsive a{
        display: block;
        width: fit-content;
        margin: 10px auto;
        font-size: 30px;
    }
    .inicio .opciones{
        display: none;
    }
    .nosotros .fila{
        display: block;
    }
    .nosotros .fila .col{
        width: 100%;
        margin: auto;
    }
    .nosotros .fila .col img{
        max-width: 200px;
        display: block;
        margin: auto;
    }
    .servicios .contenido-seccion .fila{
        display: block;
    }
    .servicios .contenido-seccion .fila .col{
       width: 100%;
    }
    .comodidades .fila{
        display: block;
    }
    .comodidades .fila .col{
        width: 100%;
    }
    .comodidades .fila .col img{
        max-width: 200px;
    }

    .equipo .fila{
        display: block;
    }
    .equipo .fila .col{
        width: 100%;
        margin-bottom: 20px;
    }
    .equipo .fila .col img{
        max-height: 200px;
    }
    .equipo .fila .info{
        max-width: 250px;
        margin: auto;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
        margin-bottom: 20px;
    }
    .contacto .fila-datos{
        display: block;
    }
    .contacto .fila-datos .col{
        margin-bottom: 20px;
    }
    footer .info{
        display: block;
        text-align: center;
    }
    footer .info p{
        margin-bottom: 10px;
    }
}


/*Inicio de sesion y registro*/

.login-register {
    font-family: 'Noto Sans', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.login-register .form-container a {
    text-decoration: underline;
    color: #2E2E2E;
}

.login-register .form-container a:hover {
    color: #f9e401;
}

.login-register .form-box {
    max-width: 600px;
}

.login-register .nav-pills .nav-link.active {
    background-color: #f9e401;
    color: #000000;
}

.login-register .nav-pills .nav-link {
    text-transform: unset;
    font-size: 14px;
}

.login-register .btn-submit {
    background-color: #f9e401;
    border: 1px solid #f9e401;
    box-shadow: none;
    transition: .3s;
    color: #000000;
    text-transform: unset;
    font-size: 14px;
}

.login-register .btn-submit:hover {
    background-color: transparent;
    color: #f9e401;
}

.login-register .form-check-input[type='checkbox']:checked {
    background-color: #f9e401;
    border-color: #f9e401;
}

.login-register .custom-btn1 {
    text-decoration: underline;
    font-size: 16px;
}

.login-register .custom-btn1:hover {
    color: #f9e401;
}

.login-register .custom-sh-button,
.login-register .custom-sh-button:active {
    padding: 0 5px 0 0;
    box-shadow: none;
    font-size: 20px;
}

.login-register #login-pw,
.login-register #register-pw {
    padding-right: 50px;
}

.login-register .progress-bar,
.login-register .pw-strength {
    height: 5px;
    border-radius: 5px;
}

.login-register .progress-bar {
    background-color: #efefef;
}

.login-register .pw-strength {
    transition: .3s;
}

.login-register .pw-strength.very-weak {
    background-color: #FF0000;
}

.login-register .pw-strength.weak {
    background-color: #FFCC33;
}

.login-register .pw-strength.good {
    background-color: #66CC33;
}

.login-register .pw-policies {
    display: none;
    font-size: 12px;
    line-height: 24px;
}

.login-register .pw-policies .fa-check {
    color: #66CC33;
    font-size: 16px;
}

.login-final {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .custom-btn1,
.custom-btn1:active {
    box-shadow: none !important;
    border: none;
    background: none;
    padding: 0;
    text-transform: none;
    color: #2E2E2E;
}

.custom-btn1:hover {
    box-shadow: none;
    background-color: transparent;
}