<!DOCTYPE html>
<html lang="es">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'core/img/favicon.ico'%}">
    <title>All Might Gym | El Gimnasio Mas Grande de la Quinta Región</title>
</head> 
<body>
    <!-- MENU -->
    <div class="contenedor-header">
        <header>
            <a class="navbar-brand" href="#"><img class="px-4" src="{% static 'core/img/logo.svg'%}" alt="Logo" height="80"></a>
            <nav id="nav">
                <a href="#inicio" onclick="seleccionar()">inicio</a>
                <a href="#inscripcion" onclick="seleccionar()">INSCRIPCIÓN</a>
                <a href="#servicios" onclick="seleccionar()">Servicios</a>
                <a href="#galeria" onclick="seleccionar()">Galería</a>
                <a href="#contacto" onclick="seleccionar()">Contacto</a>
                <a class="nav-link" href="#"><i class="fas fa-user"></i></a>

            </nav>
            <!-- Icono del menu responsive -->
            <div id="icono-nav" class="nav-responsive" onclick="mostrarOcultarMenu()">
                <i class="fa-solid fa-bars"></i>
            </div>                
        </header>
    </div>

    <!-- SECCION INICIO -->
    <section id="inicio" class="inicio">
    <div class="contenido-seccion">
        <div class="row">
        <div class="info col-md-6">
            <h2>All Might <span class="txtAmarillo">GYM</span></h2>
            <p>El gimnasio más grande de la quinta región</p>
            <a href="#inscripcion" class="btn-mas btn-primary">
            <i class="fa-solid fa-circle-chevron-down"></i>
            </a>
        </div>
        <div class="opciones col-md-6">
            <div class="opcion col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">FUNCIONAL</h5>
                </div>
                </div>
            </div>
            <div class="opcion col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">POWER LIFTING</h5>
                </div>
                </div>
            </div>
            <div class="opcion col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ZUMBA</h5>
                </div>
                </div>
            </div>
            <div class="opcion col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">BODY COMBAT</h5>
                </div>
                </div>
            </div>
            <div class="opcion col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">YOGA</h5>
                </div>
                </div>
            </div>
            <div class="opcion col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">CYCLING IN DOOR</h5>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </section>

    <!-- SECCION NOSOTROS -->
    <section id="inscripcion" class="nosotros">
        <div class="contenedor container">
        <div class="fila row">
            <div class="col">
                <img src="{% static 'core/img/nosotros.png'%}" alt="">
            </div>
            <div class="col">
                <div class="contenedor-titulo row align-items-center">
                    <div class="numero col-sm-2">
                        01
                    </div>
                    <div class="info col-sm-10">
                        <span class="frase">LA MEJOR EXPERIENCIA CON NOSOTROS</span>
                        <h2>INSCRÍBETE YA</h2>
                    </div>
                </div>
                <p class="p-especial">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur necessitatibus quod provident libero, nam corrupti, adipisci ea inventore cum aliquid asperiores pariatur harum sunt. Tempore expedita atque quos ipsum nisi.</p>
            </div>
        </div>
        <hr>
        <div class="fila-nosotros row">
            <div class="col1 col-sm-6">
                <span class="frase">
                    <span class="txtAmarillo">ENTRENA</span> DIFERENTE
                </span>
                <h2>INSCRÍBETE <span class="txtAmarillo">YA</span> HOY!</h2>
            </div>
            <div class="col2 col-sm-6">
                <a href="login"><button>PLAN LIBRE</button></a>
            </div>
        </div>
        </div>
    </section>

    <!-- SECCION SERVICIOS -->
    <section class="servicios" id="servicios">
        <div class="contenido-seccion container">
            <div class="fila row">
                <div class="col col-md-6">
                    <div class="contenedor-titulo">
                        <div class="numero">
                            02
                        </div>
                        <div class="info">
                            <span class="frase">LA MEJOR EXPERIENCIA</span>
                            <h2>SERVICIOS EXTRAS</h2>
                        </div>
                    </div>
                    <p class="p-especial">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur necessitatibus quod provident libero, nam corrupti, adipisci ea inventore cum aliquid asperiores pariatur harum sunt. Tempore expedita atque quos ipsum nisi.</p>
                </div>
                <div class="col col-md-6">
                    <img src="{% static 'core/img/fondo-servicios.jpg'%}" alt="">
                </div>
            </div>
        </div>
<!--
        <div class="info-servicios container">
            <table>
                <tr>
                    <td>
                        <i class="fa-solid fa-person-walking"></i>
                        <h3><span class="txtAmarillo">Clases </span> de Yoga</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis.</p>
                    </td>
                    <td>
                        <i class="fa-solid fa-dumbbell"></i>
                        <h3><span class="txtAmarillo">Clases </span> de Power</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis.</p>
                    </td>
                    <td>
                        <i class="fa-solid fa-hand-fist"></i>
                        <h3><span class="txtAmarillo">Clases </span> de Body Combat</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa-solid fa-clock"></i>
                        <h3><span class="txtAmarillo">Clases </span> Funcionales</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis.</p>
                    </td>
                    <td>
                        <i class="fa-solid fa-heart-circle-bolt"></i>
                        <h3><span class="txtAmarillo">Clases </span> de Zumba</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis.</p>
                    </td>
                    <td>
                        <i class="fa-solid fa-bicycle"></i>
                        <h3><span class="txtAmarillo">Clases </span> de CYCLING IN DOOR</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis.</p>
                    </td>
                </tr>
            </table>
        </div>
    </section>
-->
    <!-- SECCION GALERIA -->
    <section class="galeria" id="galeria">
        <div class="contenido-seccion container">
            <div class="contenedor-titulo row text-center col-12">
                <div class="numero">
                    04
                </div>
                <div class="info">
                    <span class="frase">NUESTROS ATLETAS</span>
                    <h2>GALERIA</h2>
                </div>
            </div>
            <div class="fila row">
                <div class="col col-md-4">
                    <img src="{% static 'core/img/G3.jpg'%}" alt="">
                </div>
                <div class="col col-md-4">
                    <img src="{% static 'core/img/NW.jpg'%}" alt="">
                </div>
                <div class="col col-md-4">
                    <img src="{% static 'core/img/G2.jpg'%}" alt="">
                </div>
            </div>
            <div class="fila row">
                <div class="col col-md-4">
                    <img src="{% static 'core/img/BUM.jpg'%}" alt="">
                </div>
                <div class="col col-md-4">
                    <img src="{% static 'core/img/AR.jpg'%}" alt="">
                </div>
                <div class="col col-md-4">
                    <img src="{% static 'core/img/RM.jpg'%}" alt="">
                </div>
            </div>
        </div>
    </section>
    

    <!-- SECCION CONTACTO -->
    <section class="contacto" id="contacto">
        <div class="contenido-seccion container">
            <div class="contenedor-titulo row col-lg-12">
                <div class="numero">
                    06
                </div>
                <div class="info">
                    <span class="frase">¿Quieres trabajar con nosotros?</span>
                    <h2>CONTACTO</h2>
                </div>
            </div>
            <div class="fila row">
                <div class="col col-lg-6 form-group">
                    <input type="text" class="form-control" placeholder="Ingrese Email">
                </div>
                <div class="col col-lg-6 form-group">
                    <input type="text" class="form-control" placeholder="Ingrese Nombre">
                </div>
            </div>

            <div class="mensaje col-lg-12">
                <textarea class="form-control" rows="4" placeholder="Ingresa el Mensaje"></textarea>
            </div>
            <div class="col-lg-12">
                <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
            </div>

            <div class="fila-datos row">
                <div class="dato col-lg-4">
                    <i class="fa-solid fa-location-dot"></i>
                    Blanco 1064, Quilpué, Valparaíso
                </div>
                <div class="dato col-lg-4">
                    <i class="fa-solid fa-phone"></i>
                    +56 9 54296836
                </div>
                <div class="dato col-lg-4">
                    <i class="fa-regular fa-clock"></i>
                    Lunes a Sábado, 8:00 am - 22:00 pm
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="bg-dark text-light">
        <div class="info container row align-items-center">
            <div class="col-md-6">
                <p class="m-0">&copy; 2023-<span class="text-warning">AllMightGym</span></p>
            </div>
            <div class="redes col-md-6">
                <a href="#" class="text-light me-3">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="#" class="text-light me-3">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="#" class="text-light">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'core/js/script.js'%}"></script>
    
</body>

</html>