<!DOCTYPE html>
<html lang="es">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'core/img/favicon.ico'%}">
    <title>Inicio de Sesión | All Might Gym</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
</head>


<body class="login-register">
    <div class="d-flex flex-column page-wrapper">
        <div class="container-fluid flex-grow-1 form-container">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-12 p-4 form-box">
                    <div class="row justify-content-center mb-3">
                        <div class="col-auto">
                            <img src="{% static 'core/img/Logo.jpg'%}" height="200" alt="img-fluid">
                        </div>
                    </div>
                    <div id="login-register-tabs">
                        <ul class="nav nav-pills mb-3 gx-0 justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-login-tab" data-mdb-toggle="pill"
                                        data-mdb-target="#pills-login"
                                        type="button" role="tab" aria-controls="pills-login" aria-selected="true">
                                    Iniciar sesión
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-register-tab" data-mdb-toggle="pill"
                                        data-mdb-target="#pills-register"
                                        type="button" role="tab" aria-controls="pills-register" aria-selected="false">
                                    Registrarse
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <!--Login Tab Content-->
                            <div class="tab-pane fade show active" id="pills-login" role="tabpanel"
                                 aria-labelledby="pills-login-tab">
                                <form id="login-form" class="row gap-3" novalidate>
                                    <div class="col-12 gx-0">
                                        <!-- Email input -->
                                        <div class="form-outline">
                                            <input type="email" id="login-email" maxlength="254"
                                                   class="form-control form-control-lg custom-input"/>
                                            <label class="form-label" for="login-email">Email</label>
                                            <div class="invalid-feedback">Error</div>
                                        </div>
                                    </div>
                                    <div class="col-12 gx-0">
                                        <!-- Password input -->
                                        <div class="form-outline">
                                            <input type="password" id="login-pw" maxlength="20"
                                                   class="form-control form-control-lg custom-input"/>
                                            <label class="form-label" for="login-pw">Contraseña</label>
                                            <button id="login-sh-btn" class="btn trailing pe-auto custom-sh-button" type="button"><i class="fa-regular fa-eye"></i></button>
                                            <div class="invalid-feedback">Error</div>
                                        </div>
                                    </div>
                                    <div class="col-12 gx-0">
                                        <!-- 2 column grid layout for inline styling -->
                                        <div class="row">
                                            <div class="col d-flex justify-content-center">
                                                <!-- Checkbox -->
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="login-cbx"/>
                                                    <label class="form-check-label" for="login-cbx">Recordarme</label>
                                                </div>
                                            </div>
    
                                            <div class="col">
                                                <!-- Simple link -->
                                                <button id="forgot-pw-btn" class="custom-btn1" type="button">Olvidé mi contraseña</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 gx-0">
                                        <!-- Submit button -->
                                        <button type="submit" class="btn btn-primary btn-block btn-submit">Iniciar sesión</button>
                                    </div>
                                    <div class="col-12 gx-0">
                                        <!-- Register shortcut button -->
                                        <div class="row justify-content-center gap-1 gx-0">
                                            <p class="col-auto">¿Aún no tienes cuenta?</p>
                                            <button id="register-shortcut-btn" class="col-auto custom-btn1" type="button">Regístrate</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--Register Tab Content-->
                            <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="pills-register-tab">
                                <form id="register-form" class="row g-3" novalidate>
                                    <div class="col-12 gx-0">
                                        <!-- 2 column grid layout with text inputs for the first and last names -->
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-outline">
                                                    <input type="text" id="register-name" maxlength="40"
                                                           class="form-control form-control-lg custom-input"/>
                                                    <label class="form-label" for="register-name">Nombre</label>
                                                    <div class="invalid-feedback">Error</div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-outline">
                                                    <input type="text" id="register-lastname" maxlength="40"
                                                           class="form-control form-control-lg custom-input"/>
                                                    <label class="form-label" for="register-lastname">Apellido</label>
                                                    <div class="invalid-feedback">Error</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 gx-0">
                                        <!-- Email input -->
                                        <div class="form-outline">
                                            <input type="email" id="register-email" maxlength="254"
                                                   class="form-control form-control-lg custom-input"/>
                                            <label class="form-label" for="register-email">Email</label>
                                            <div class="invalid-feedback">Error</div>
                                        </div>
                                    </div>
                                    <div class="col-12 gx-0">
                                        <!-- Rut input -->
                                        <div class="form-outline">
                                            <input type="number" id="register-rut" maxlength="10"
                                                   class="form-control form-control-lg custom-input"/>
                                            <label class="form-label" for="register-rut">Rut(11111111-1)</label>
                                            <div class="invalid-feedback">Error</div>
                                        </div>
                                    </div>
                                    <div class="col-12 gx-0">
                                        <!-- Password input -->
                                        <div class="form-outline">
                                            <input type="password" id="register-pw" maxlength="20"
                                                   class="form-control form-control-lg custom-input"/>
                                            <label class="form-label" for="register-pw">Contraseña</label>
                                            <button id="register-sh-btn" class="btn trailing pe-auto custom-sh-button" type="button"><i class="fa-regular fa-eye"></i></button>
                                            <div class="invalid-feedback">Error</div>
                                        </div>
                                    </div>
                                    <div class="col-12 gx-0">
                                        <div class="row gx-0 gap-2">
                                            <div class="col-12">
                                                <div class="progress-bar">
                                                    <div id="pw-strength" class="pw-strength"></div>
                                                </div>
                                            </div>
                                            <ul id="pw-policies" class="pw-policies list-unstyled m-0">
                                                <li>
                                                    <span style="font-weight: bold">Debe contener:</span>
                                                    <ul class="list-unstyled">
                                                        <li id="length-policy" class="row gx-0 gap-2 align-items-center">
                                                            <i class="col-auto fa-solid fa-check"></i>
                                                            <p class="col-auto">8-20 caracteres</p>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span style="font-weight: bold">Y 2 de los siguientes aspectos:</span>
                                                    <ul class="list-unstyled">
                                                        <li id="lowercase-policy" class="row gx-0 gap-2 align-items-center">
                                                            <i class="col-auto fa-solid fa-check"></i>
                                                            <p class="col-auto">Letras minúsculas</p>
                                                        </li>
                                                        <li id="uppercase-policy" class="row gx-0 gap-2 align-items-center">
                                                            <i class="col-auto fa-solid fa-check"></i>
                                                            <p class="col-auto">Letras mayúsculas</p>
                                                        </li>
                                                        <li id="number-policy" class="row gx-0 gap-2 align-items-center">
                                                            <i class="col-auto fa-solid fa-check"></i>
                                                            <p class="col-auto">Números</p>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 gx-0">
                                        <!-- Checkbox -->
                                        <div class="form-check d-flex justify-content-center">
                                            <input class="form-check-input me-2" type="checkbox" value="" id="register-cbx"
                                                   checked/>
                                            <label class="form-check-label" for="register-cbx">
                                                Mandar spam
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12 gx-0">
                                        <!-- Submit button -->
                                        <button type="submit" class="btn btn-primary btn-block btn-submit">Registrarse</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="forgot-pw-tab" style="display: none">
                        <form id="forgot-pw-form" class="row g-3 text-center" novalidate>
                            <h4>Para poder cambiar tu contaseña, necesitaremos verificar tu identidad. Escribe la dirección de correo electrónico</h4>
                            <div class="col-12 gx-0">
                                <!-- Email input -->
                                <div class="form-outline">
                                    <input type="email" id="forgot-pw-email" class="form-control form-control-lg custom-input"/>
                                    <label class="form-label" for="forgot-pw-email">Email</label>
                                    <div class="invalid-feedback">Error</div>
                                </div>
                            </div>
                            <div class="col-12 gx-0">
                                <div class="row g-3 justify-content-center">
                                    <div class="col-auto">
                                        <button id="forgot-pw-back-btn" class="btn btn-submit" type="button">Atrás</button>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary btn-block btn-submit">Continuar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    
    <footer class="login-final">
        <div class="info">
            <p> Copyright © 2023-<span class="txtAmarillo">AllMightGym</span></p>
            <div class="redes">
                <a href="#">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<script src="https://kit.fontawesome.com/777d474a1b.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
<script src="{% static 'core/js/script.js'%}"></script>
</body>

</html>